
@font-face {
    font-family:"SF PRO Display";
    src:url(../fonts/SFProDisplay-Regular.ttf)
}
* {
    /*включить измерение элементов от рамки*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
.block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.cards {
    flex-wrap: wrap;
    
}
/*ограничение по ширине и выставляет посередине*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.container {
    padding-top: 40px;
}
    .input{
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        width: 100%;
        padding-left: 32px;
    }

    .input::placeholder
    {
     font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #BFBFBF;
    }
/*верхняя часть сайта*/
.header {
    margin-top: 40px;
    margin-bottom: 40px;

}

.adress-input {
    max-width: 690px;
    width: 100%;
    height: 40px;
    background:  url("../img/home.svg") no-repeat 10px center;
   
    

}

.buttons {
    display: flex;
    flex-wrap: nowrap;
}

.button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

}

.button--primary{
    background: #1890FF;
    color: #FFFFFF;
}
.button--secondary {
    background: transparent;
    border: 1px solid #D9D9D9;
    margin-left: 8px;

}

/*promo*/

.section-promo{
    margin-bottom: 56px;
}
.promo-block{
    background: #FFF1B8;
    border-radius: 10px;
    padding: 68px 71px;
    background: #FFF1B8 no-repeat url("../img/promo.png" ) right;
    filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));

}
.text-block{
    max-width: 520px;
    width: 100%;
}
.promo-title {
 max-width: 438px;  
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 46px;
color:#302C34;
margin-bottom: 16px;
}
.promo-desc{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #302C34;
}

/*секция рестораны*/
.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input{
    max-width: 306px;
    height: 34px;
    background: url("../img/search2.svg") no-repeat 10px center;
    
}
.card {
    min-width: 380px;
    width: 100%;
    height: 380px;
    border: 1px solid black;
    margin-bottom: 30px;
} 